.japan {
	width: 400px;
	height: 250px;

.japan::before {
    content: "";
    width: 150px;
    height: 150px;
    margin-left: 125px;
    margin-top: 50px;
    position: absolute;
    background: #ad2332;
    border-radius: 50%;
}